<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Rich Davis</string>
	<key>Builder Version</key>
	<string>10600.6.3</string>
	<key>CFBundleDisplayName</key>
	<string>Full Screen NoEscape</string>
	<key>CFBundleIdentifier</key>
	<string>com.richjddavis.safari-fullscreen-noescape</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>v1.0.0</string>
	<key>CFBundleVersion</key>
	<string>v1.0.0</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>prevent-esc.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Attempts to disable Safari's behaviour of exiting Full Screen Mode when the Escape key is hit</string>
	<key>DeveloperIdentifier</key>
	<string>42WNSE5VLD</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/richjddavis</string>
</dict>
</plist>
